body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

header{
    
    background: #1F2937;
}

.top{
    
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    gap: 100px;
    padding:0 200px 100px 200px;
    
    

}
.navbar{
    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
  }

.placeholder{
    background-color: #E5E7EB;
    min-width: 300px; 
    height: auto;
    width: 50%;
    
  }

.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5%;
    
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    font-weight: bold;
}

.secondary-text{
    font-size:20px;
    color: #E5E7EB;
}

.signup-button{
    width: 100px;
    height: 40px;
    background-color: greenyellow;
    color:black;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
}

.option-section{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 100px;
}

.option-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.box{
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.option{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.option p{
    width: 170px;
    font-size: 18px;
    font-weight:500;
    text-align: center;
    color: #9d9d9e;
}


.option-heading{
    font-size: 36px;
    color: #1F2937;
}

.quote-section{
    display: flex;
    flex-direction: column;
    margin: 100px 0 100px 0;
    background-color: #E5E7EB;  
    align-items: center; 
    gap:10px; 
    padding:5% 0 5% 0;
    
}

.quote-section p{
    font-size: 36px;
    font-style:italic;
    color:#1f2937;
    width: 60%;
    margin-bottom: 0;
    text-align: left;
    font-weight: 300;
}

.quote-section h3{
    text-align: right;
    width:70%;
    font-size: 20px;

}

.signup-banner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #3882F6;
    margin-bottom: 100px;
    padding:20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

.message{
    display: flex;
    flex-direction: column;
    color:white;
    gap:5px;
    
}
.first-message{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0;
}

.second-message{
    font-size: 20px;
    margin-top: 0px;
}


.button-banner{
    width: 100px;
    height: 40px;
    color:white;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
}