body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

header{
    
    background: #1F2937;
}

.top{
    
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    gap: 100px;
    padding-bottom:100px;
    

}
.navbar{
    
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
  }

.placeholder{
    background-color: #E5E7EB;
    min-width: 300px; 
    height: auto;
    width: 30%;
    
  }

.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    flex-shrink: 0;
    
}

.info{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button{
    width: 80px;
    height: 30px;
    background-color: greenyellow;
    color:black;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
}

.option-section{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 100px;
}

.option-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.box{
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.option{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.option p{
    width: 170px;
    font-size: 18px;
    font-weight:500;
    text-align: center;
    color: #9d9d9e;
}


.option-heading{
    font-size: 36px;
    color: #1F2937;
}